<h1>Listing bookmarks</h1>

<ol>

<% @bookmarks.each do |bookmark| %>
  <li>
    <%= bookmark.title %><br/>
    <%= bookmark.url %><br/>
    <%= bookmark.comment %><br/>
    <%= link_to 'Show', bookmark %><br/>
    <%= link_to 'Edit', edit_bookmark_path(bookmark) %><br/>
    <%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
<% end %>
</ol>

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
